@import "tailwindcss";

@layer base {
  :root {
    --background: 222 47% 11%;
    --surface: 220 26% 14%;

    --primary: 243 75% 59%;
    --secondary: 199 89% 48%;
    --accent: 189 94% 43%;

    --text-primary: 210 40% 98%;
    --text-secondary: 210 40% 90%;
    --muted: 215 28% 17%;
  }
}

.no-scrollbar::--webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
